<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <center>
    <h1>TEXT FORMATTING</h1>
    <form action="removepunc" method="get">
        <textarea name="t"></textarea>
        <br>
        <input type="checkbox" name="rmpunc">Remove punctuations<br>
        <input type="checkbox" name="lc">lower case<br>
        <input type="checkbox" name="uc">UPPER CASE<br>
        <input type="checkbox" name="rmln">Remove NewLine<br>
        <button type="submit">submit</button>
    </form>
</center>
</body>
</html>